.active {
  position: relative;
}
.active::before {
  content: "";
  position: absolute;
  left: -28px;
  top: 0;
  background-color: #092d47;
  width: 6px;
  height: 100%;
  opacity: 1;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
