.active {
  position: relative;
}
.active::before {
  content: "";
  position: absolute;
  left: -28px;
  top: 0;
  background-color: #092d47;
  width: 6px;
  height: 100%;
  opacity: 1;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
a:hover img {
  filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(0%)
    hue-rotate(203deg) brightness(111%) contrast(101%);
}
