<header
  class="min-h-header-h flex flex-wrap items-center px-3xl justify-between bg-light-base transition-all duration-300 border-b-1  border-b-lines_color">
  <div class="relative w-search-w ">
    <i class="pi pi-search absolute left-md top-1/2 -translate-y-1/2 text-secondary"></i>
    <input type="text" placeholder="Search..."
      class="w-full h-input-h pl-10 pr-md py-sm text-sm border border-lines_color  transition-all duration-300 rounded-md focus:outline-none focus:ring-2 focus:ring-main focus:border-transparent" />
  </div>

  <!-- Right section -->
  <div class="flex flex-wrap items-center gap-sm">
    <div class="flex items-center justify-center gap-sm bg-main text-md px-xl py-md text-light-base rounded-md">
      <i class="pi pi-wallet"></i>
      <span>$1199.00</span>
    </div>
    <button pButton class="text-md" label="Create Order" icon="pi pi-plus" [loading]="btn_loading" (click)="onClick()">
    </button>
    <div
      class="flex items-center justify-center bg-light-muted rounded-md w-icon-box h-icon-box cursor-pointer hover:opacity-90 transition">
      <img width="24" src="assets/notificaion_icon.svg" alt="Notifications">
    </div>

    <div
      class="flex items-center justify-center bg-light-muted rounded-md w-icon-box h-icon-box cursor-pointer hover:opacity-90 transition">
      <img width="24" src="assets/UK_flag_icon.svg" alt="Language">
    </div>

    <div (click)="userMenu.toggle($event, userMenuTrigger)"
      class="flex flex-row items-center gap-md p-sm cursor-pointer hover:bg-light-muted rounded-md">
      <img width="40" src="assets/user_icon.svg" alt="User">

      <div class="flex flex-col leading-tight">
        <span class="text-sm font-medium text-secondary">Abdo</span>
        <span class="text-xs text-secondary">Admin</span>
      </div>
      <i class="pi pi-chevron-down text-secondary_strong"></i>

    </div>
    <div #userMenuTrigger class="ps-sm mt-3xl"></div>
    <p-popover #userMenu [dismissable]="true" styleClass="custom_popover"
      [style]="{width: '126px', overflow: 'hidden'}">
      <div class="flex flex-col">
        <button
          class="flex items-center gap-sm py-sm px-2lg text-sm rounded-sm hover:bg-main hover:text-light-base cursor-pointer"
          (click)="userMenu.hide()">
          <i class="pi pi-user"></i> Profile
        </button>
        <button
          class="flex items-center gap-sm py-sm px-2lg text-sm rounded-sm hover:bg-main hover:text-light-base cursor-pointer"
          (click)="userMenu.hide()">
          <i class="pi pi-sign-out"></i> Logout
        </button>
      </div>
    </p-popover>

  </div>
</header>