<header class="h-header-h flex flex-wrap items-center px-3xl justify-between bg-light-base transition-all duration-300">
  <div class="relative w-search-w">
    <i class="pi pi-search absolute left-md top-1/2 -translate-y-1/2 text-secondary"></i>
    <input type="text" placeholder="Search..."
      class="w-full h-input-h pl-10 pr-md py-sm text-sm border border-lines_color rounded-md focus:outline-none focus:ring-2 focus:ring-main focus:border-transparent" />
  </div>

  <!-- Right section -->
  <div class="flex flex-wrap items-center gap-sm">
    <div class="flex items-center justify-center gap-sm bg-main text-md px-xl py-md text-light-base rounded-md">
      <i class="pi pi-wallet"></i>
      <span>$1199.00</span>
    </div>

    <button
      class="flex items-center justify-center gap-sm bg-main text-md px-xl py-md text-light-base rounded-md cursor-pointer hover:opacity-90 transition">
      <i class="pi pi-plus"></i>
      <span>Create Order</span>
    </button>

    <div
      class="flex items-center justify-center bg-light-muted rounded-md w-icon-box h-icon-box cursor-pointer hover:opacity-90 transition">
      <img width="24" src="assets/notificaion_icon.svg" alt="Notifications">
    </div>

    <div
      class="flex items-center justify-center bg-light-muted rounded-md w-icon-box h-icon-box cursor-pointer hover:opacity-90 transition">
      <img width="24" src="assets/UK_flag_icon.svg" alt="Language">
    </div>

    <div class="flex flex-row items-center gap-md p-sm cursor-pointer hover:bg-light-muted rounded-md">
      <img width="40" src="assets/user_icon.svg" alt="User">
      <div class="flex flex-col items-center leading-tight">
        <span class="text-sm font-medium text-secondary">Abdo</span>
        <span class="text-xs text-secondary">Admin</span>
      </div>
      <i class="pi pi-chevron-down text-secondary_strong"></i>
    </div>
  </div>
</header>