<main class="flex flex-col gap-2xl">
  <section class="flex flex-col gap-sm w-full py-xl px-3xl bg-light-base rounded-xl">
    <app-custom-primeng-breadcrumb [items]="items"></app-custom-primeng-breadcrumb>
    <div class="flex items-center justify-between">
      <h1 class="text-page_title text-strong_color">Financial</h1>
      <button pButton label="Export Reports" class="text-md" icon="pi pi-file-export" [loading]="btn_loading"
        (click)="onClick()">
      </button>
    </div>
  </section>


  <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-xxl">
    <app-statistics-card title="Total COD" amount="EGP 25,430" percentage="+12.5%" description="Cash collected"
      icon="docs_icon" color="#E9EAFF" trend="up"></app-statistics-card>

    <app-statistics-card title="Calculated COD" amount="EGP 24,176" percentage="-4.2%" description="Since last week"
      icon="check_icon" color="#E6F9EE" trend="down"></app-statistics-card>

    <app-statistics-card title="Total Shipping" amount="EGP 1,200" description="Shipping cost" icon="times_icon"
      color="#FFEAEA"></app-statistics-card>

    <app-statistics-card title="Total Expenses" amount="EGP 2,540" description="All deductions" icon="time_icon"
      color="#FFF4E0"></app-statistics-card>
  </section>

  <section>
    <app-shared-table table_title="Bills History" [columns]="bills_header_columns"
      [data]="billsData"></app-shared-table>
  </section>
  <section>
    <app-shared-table table_title="Payments History" [columns]="payment_header_columns"
      [data]="paymentData"></app-shared-table>
  </section>
</main>
